<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--配置bean对象-->
    <!--<bean name="user" class="com.xh.pojo.User">
        <property name="userName" value="rose"/>
        <property name="userAge" value="18"/>
        <property name="car" ref="car"/>
    </bean>

    <bean name="car" class="com.xh.pojo.Car">
        <property name="logo" value="五菱宏光"/>
        <property name="price" value="200"/>
    </bean>-->

    <!--开启注解扫描 : 包-->
    <context:component-scan base-package="com.xh.pojo"/>



</beans>